[Unit]
Description=baz service
Before=foobar.target
Wants=foobar.target

[Service]
Type=notify
ExecStart=/usr/bin/foobar -s baz -l :9901  --delay-notify 3 --failed-until 60
Restart=on-failure
StandardOutput=journal

[Install]
WantedBy=multi-user.target
