[Unit]
Description=Foo service
After=network.target

[Service]
ExecStart=/usr/bin/foo.socket
StandardInput=socket
StandardOutput=journal

[Install]
WantedBy=multi-user.target
