[Unit]
Description=Foo service
After=network.target

[Service]
Type=notify
ExecStart=/usr/bin/foobar -s foobar
StandardOutput=journal

[Install]
WantedBy=multi-user.target
