[Unit]
Description=Go Socket Activation Example
Requires=network.target
After=multi-user.target

[Service]
Type=notify
ExecStart=/usr/bin/gosocket
WatchdogSec=4
Restart=on-failure
RestartSec=3
#NotifyAccess=exec

[Install]
WantedBy=multi-user.target
