[Unit]
Description=Socket Activation plugh service
Requires=network.target

[Service]
Type=notify
ExecStart=/usr/bin/socket
WatchdogSec=4
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
