[Unit]
Description=qux service
PartOf=baz.service

[Service]
Type=notify
ExecStart=/usr/bin/qux.py 3
Restart=on-failure

RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
