[Unit]
Description=qux service
PartOf=baz.service

[Service]
Type=notify
ExecStart=/usr/bin/foobar -s qux -l :9902  --delay-notify 3
Restart=on-failure
StandardOutput=journal

[Install]
WantedBy=multi-user.target
